#cont {
	background-color:#99ff99;
	
}
#links ul{
	list-style-type: none;
	line-height: 3em;
}
img{
    max-width: 500px;
    max-height: 150px;
    min-width: 200px;
    min-height: 100px;
    width: 400px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
#cabecera {
	
	border-style: solid;
}
#menu {
	 border: solid black 2px;
    border-radius: 5px;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #ff751b;
    height: 40px;
}
#menu ul {
    text-align: center;
}

#menu li {
    display: inline;
    margin: 0%;
    padding: 0%;
}

li a:hover{
        animation: ampliar 1s;
}
@keyframes ampliar {
    5% {padding:11px;margin: -6px;}
}
#menu a {
    color: #FFF;
    display: inline;
    width: 100%;
    text-align: center;
    margin: 0%;
    border-radius: 5px;
}

#menu a:hover, #menu a:active {
    background-color: grey;
}
#menu a:hover{
    color: black;
}

#menu a{
    color: grey;
    text-decoration:none;
}
/*p a {
	color:orange;
}*/
#content {
	border-style: solid;
	border-color: yellow;
	display: flex;
	flex-wrap: wrap;
}
#cont-flex{
	border-style: solid;
	border-color: blue;
	flex:8 1 60%;
	max-width: 70%;
}
.content-flex {
	border-style: solid;
	border-color: gray;
}
#links{
	flex: 4 1 30%;
	border-style:solid;
	border-color:brown;
	position: fixed;
	right:2.5%;
	top:35%;

}

#footer_ {
	  text-align: right;
    color: #4d4d4d;
    width: 100%;
    /*padding: 2%;*/
    display: block;
    position: relative;
    bottom: 0;
    border-style:solid;
	border-color:white;
}
